a:link  { 
  color: #185198;
  background: none;
}
a:visited { 
  color: #003366;
  background: none;
}
a:active {
  color: #333366;
  background: none;
}
a:hover { 
  color: #0052A3;
  background: none;
}
p,table,td,tr {   
  font-size: 10pt;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}
form {
  display: inline;
  margin-bottom: 0;
}
body {
	color: #313131;
  background-image: url("/static/css/nami/nami-back-big-2.jpg");
	background-repeat: no-repeat;
	background-position: right Top;
	font-family: Tahoma, Trembuchet MS Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
  
.tablesurround {
	color: #3E6174;
	background-color: transparent;
}
.tableborders {
	background-color: #3E6174;
	color: #FFFFFF;
}
.tdheader {
  font-size: 9pt;
  font-weight: bold;
  color: #313131;
  background-image: url("/static/css/nami/grad-02.png");
}

.menubar,.topmenu{
  background-image: url("/static/css/nami/grad-02.png");
  font-weight: bold;
  color: #313131;
}

.navigation{
  background-image: url("/static/css/nami/grad-02.png");
  color: #313131;
  border: 1px solid #3E6174;
  font-size: 9pt;
  padding: 1px; 
  margin: 1px;
}
.new {
  font-size: 9pt;
  color: #FF0000;
  background: none;
}
.new2 {
  font-size: 9pt;
  color: #880088;
  background: none;
}
      
.catandforum {
  font-size: 9pt;
}
.posttime {
	font-size: 9pt;
	background: #ffffff;
	color: #313131;
}
.threadtotal {
	font-size: 9pt;
	background: #ffffff;
	color: #313131;
}
.posttotal,.modcolumn {
  font-size: 9pt;
  background-image: url("/static/css/nami/grad-01.png");
	background-repeat: repeat-x;
  color: #313131;
  background-color: #E9E9E9;
}
.modline {
  font-size: 8pt;
  font-style: oblique;
}
.small {
  font-weight: normal;
  font-size: 8pt;
}
.standouttext {
  color: #ff0000;
  background: none;
}
.pollcolor {
  background-image: url("/static/css/nami/grad-02.png");
	color: #313131;
	border: 1px solid #3E6174;
  padding: 4px; 
}
.welcome {
  background: #bcbdbd;
  color: #313131;
}
.forumtitle a {
  font-size: 10pt;
  font-weight: bold;
  color: #1C5EB1; 
  background: none;
}
.forumtitle a:hover {
  font-size: 10pt;
  font-weight: bold;
  color: #333366; 
  background: none;
}
.forumdescript {
  font-size: 8pt;
}
.lighttable {
	color: #313131;
  background-image: url("/static/css/nami/grad-03.png");
	background-repeat: repeat-x;
  background-color: #F6F6F5;
}
.darktable {
  background-image: url("/static/css/nami/grad-01.png");
	background-repeat: repeat-x;
  	background-color: #E9E9E9;
  color: #313131;
}
.newlighttable {
  background-image: url("/static/css/nami/grad-04.png");
	font-weight: bold;
	color: #313131;
}

.newdarktable {
  background-image: url("/static/css/nami/grad-04.png");
	font-weight: bold;
	color: #313131;
}

.newpostsincat {
	background: #FF9900;
	color: #313131;
}
.cleartable {
	background: #f7f7f7;
	color: #313131;
}
.alternatetable {
	background: #666699;
	color: #313131;
}
.newsubjecttable {
  background-image: url("/static/css/nami/grad-05.png");
	background-repeat: repeat-x;
        background-color: #9EB6C2;
  font-weight: bold;
  color: #313131;
}

.subjecttable {
  background-image: url("/static/css/nami/grad-06.png");
	background-repeat: repeat-x;
        background-color: #C0CFD7;
  color: #313131;
}


.footertable {
	background: #ffffff;
	color: #313131;
}                          
.formboxes{
  background-color: #ffffff 
  color: #313131;
  font-size: 10pt;
}
.buttons {
	background-color: #dedfdf;
	color: #313131;
	font-size: 10pt;
	font-family: Tahoma, Trembuchet MS Verdana, Arial, Helvetica, sans-serif;
}
blockquote {
  border: 1px solid #3E6174;
  background-image: url("/static/css/nami/grad-01.png");
  background-repeat: repeat-x;
  background-color: #E9E9E9;
  font-size: 9pt; 
  margin: 0px 20px;
  padding: 1px 10px
}
blockquote .small {
  border-right: 1px solid #3E6174;
  border-bottom: 1px solid #3E6174;
  background-image: url("/static/css/nami/grad-02.png");
  font-weight:bold;
	margin-left:-10px;
	padding: 1px 6px 2px 6px;
	color: #313131;
}
blizockquote .small {
	background: #3E6174;
	margin-left:-10px;
	padding: 0px 2px 1px 1px;
	color: #FFF;
}
blockquote hr {
   visibility:hidden;
   height: 1px
}
blockquote br {
   font-size:1px
}
.onbody{
  color: #313131;
  background: none;
}
.onbody a:link {
  color: #0000FF;
  background: none;
}
.onbody a:visited {
  color: #000066;
  background: none;
}
.onbody a:active {
  color: #000066;
  background: none;
}
.post:first-letter {
	font-weight: bold;
}
pre {
	font-family: Courier, Tahoma, Trembuchet MS Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	display: block;
	white-space: pre;
}
a.cup {
   text-decoration:none;
}
.confluent {
  color: #F6F6F5;
}