@import "fonts.css";

a { text-decoration:none;color:#404040}
A:link, a[pseudolink], a.pseudolink {text-decoration:none;color:#404040}
A:visited{text-decoration:none;color:#404040}
A:active{text-decoration:none;color:black}
A:hover{color:black;text-decoration:none;background-color:#cfcfcf;}
a.current { border:solid 1px black;color:black; }
a.current:hover { color:black;background-color:transparent; }
A:hover * { background-color:inherit; }

a[pseudolink], a.pseudolink {
	border-bottom:dashed 1px #404040;
	margin-bottom:1px;
}

body {
	color:black;
	background-color:#1E90FF;
	background-image:url(/static/images/modern/blue/clouds-seamless-background-blue1.jpg);
}

.pollcolor{background-color:#404040}

.formboxes{
	color:#404040;
	background-color:white;
}
pre {
	background-color:#9f9f9f;
	color:white
}

.confluent{
	color:#dbedff;
}

.postcontainer, .pmcontainer, .uploadcontainer {
	border-color:#808080;
}
.pmcontainer.unread {
	background-color:#bbcddf;
}
blockquote .quotecontent {
	border:solid 1px #9f9f9f;
	background-color:#cfcfcf;
}
.userbar_additional {
	background-color:#CCD0FF;
}
.postscontainer {
	background-color:#dbedff;
}
.categorycontainer_title {
	background-color:#99CCFF;
}
.categorycontainer .boardscontainer {
	border:solid 7pt #99ccff;
}
.boardscontainer, .threadscontainer, .conversationscontainer {
	background-color:white;
}

.boardcontainer, .threadcontainer, .conversationcontainer {
	background-color:#dbedff;
}
.boardcontainer:hover, .threadcontainer:hover, .conversationcontainer:hover {
	background-color:#EDF6FF;
}
.boardcontainer.updated, .threadcontainer.updated, .conversationcontainer.updated {
	background-color:#FFDBDB;
}
.boardcontainer.updated:hover, .threadcontainer.updated:hover, .conversationcontainer.updated:hover {
	background-color:#FFEDED;
}
.board_additional, .threadcontainer_additional, .conversationcontainer_additional {
	background-color:#E0FFDB;
}
.postcontainer, .pmcontainer, .uploadcontainer {
	background-color:#dbedff;
}

.header, .header a {
	color:#606060;
}
.header a.selected {
	color:black;
}
.header a:hover {
	color:black;
	background-color:transparent;
}
.header a.disabled, .header a.disabled:hover {
	color:#BFBFBF;
	background-color:transparent;
}
.UG_Moderators {
	color:blue !important;
}
.UG_Administrators {
	color:black !important;
}

.metroicon-add {
	background-image:url(/static/images/metro.icons/black/add.png);
}
.metroicon-cancel {
	background-image:url(/static/images/metro.icons/black/cancel.png);
}
.metroicon-edit {
	background-image:url(/static/images/metro.icons/black/edit.png);
}
.metroicon-mail {
	background-image:url(/static/images/metro.icons/black/mail.png);
}
.metroicon-settings {
	background-image:url(/static/images/metro.icons/black/settings.png);
}

