.signature {
	height: expression( this.scrollHeight > 49 ? '50px' : 'auto' );
}
.avatar, .userbar_avatar {
	height:expression((this.scrollHeight >= 90) ? '90px' : 'auto');
	width:expression((this.scrollWidth >= 90) ? '90px' : 'auto');
}
.userbarcontainer {
	width:expression((this.scrollWidth >= 90) ? '90px' : 'auto');
}
.categorycontainer {
	display:inline;
}
.boardcontainer {
	display:inline;
}
.board_additionalcontainer {
	width:0px;
	max-width:0px;
}
.threadcontainer, .conversationcontainer {
	display:inline;
}
.threadcontainer .avatar, .threadcontainer .userbar_avatar,
.conversationcontainer .avatar, .conversationcontainer .userbar_avatar {
	height:expression((this.scrollHeight >= 45) ? '45px' : 'auto');
	width:expression((this.scrollWidth >= 60) ? '60px' : 'auto');
}
.threadcontainer .userbarcontainer, .conversationcontainer .userbarcontainer {
	width:expression((this.scrollWidth >= 60) ? '60px' : 'auto');
}
.threadcontainer_additionalcontainer, .conversationcontainer_additionalcontainer {
	width:0px;
	max-width:0px;
}
