/* File Version 6.5.1 */

a:link  {
	color: #303030;
	background: none;
}
a:visited {
	color: #303030;
	background: none;
}
a:active {
	color: #303030;
	background: none;
}
a:hover {
	color: #827B6B;
	background: none;
}
p,table,td,tr {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
form {
	display: inline;
	margin-bottom: 0;
}
body {
	color: #000000;
	background: #C0CEA9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.tablesurround {
	background: #A8A08A;
	color: #000000;
}
.tableborders {
	background: #303030;
	color: #ffffff;
}
.tdheader {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	background: #79826B;
	border-left: 2px solid #827B6B;
	border-top: 2px solid #827B6B;
	border-bottom: 1px solid #303030;
	border-right: 1px solid #303030;
}
.menubar{
	background: #dedfdf;
	color: #000000;
	font-size: 9pt;
}
.navigation{
	background: #cccccc;
	color: #000000;
	font-size: 8pt;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #666699;
	padding: 0px;
	margin: 1px;
}
.catandforum {
	font-size: 8pt;
}
.posttime {
	font-size: 8pt;
	background: #CFC4A9;
	color: #000000;
	text-align: center;
}
.threadtotal {
	font-size: 10pt;
	background: #CFCFCF;
	color: #000000;
}
.posttotal,.modcolumn {
	font-size: 10pt;
	background: #CFCFCF;
	color: #000000;
}
.modcolumn {
	font-size: 8pt;
}
.small {
	font-weight: normal;
	font-size: 8pt;
}
.standouttext {
	color: #ff0000;
	background: none;
}
.pollcolor {
	background: #ff0000;
	color: #000000;
	border: 1px solid #000000;
}
.forumtitle a {
	font-size: 10pt;
	font-weight: bold;
	color: #303030;
	background: none;
}
.forumdescript {
	font-size: 8pt;
}
.lighttable {
	background: #CFCFCF;
	color: #000000;
}
.darktable {
	background: #CFC4A9;
	color: #000000;
}
.newlighttable {
	background: #f7f7f7;
	color: #000000;
}
.newdarktable {
	background: #e6e6e6;
	color: #000000;
}
.newpostsincat {
	background: #FFFF00;
	color: #000000;
}
.cleartable {
	background: #f7f7f7;
	color: #000000;
}
.newsubjecttable {
	background: #c4c4c4;
	font-weight: bold;
	color: #000000;
}
.subjecttable {
	background: #dedfdf;
	color: #000000;
}
.formboxes{
	background-color: #dedfdf;
	color: #000000;
	font-size: 10pt;
}
.buttons {
	background-color: #dedfdf;
	color: #000000;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
blockquote {
	font-size: 9pt; border: 1px solid #e6e6e6;
	margin: 0px 20px; padding: 0px 10px
}
blockquote .small {
	background: #e6e6e6;
	margin-left:-10px;
	padding: 1px 2px;
	color: #000000;
}
blockquote hr {
	visibility:hidden;
	height: 1px
}
blockquote br {
	font-size: 1px
}
.post:first-letter {
	font-weight: bold;
}
pre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	display: block;
	white-space: pre;
}
.modname {
	color: #00AA00;
}
.adminname {
	color: #FF0000;
}
.new {
  font-size: 8pt;
  color: red;
}
.new2 {
  font-size: 8pt;
  color: #880088;
}

a.cup {
   text-decoration:none;
}

.topmenu{
  background: #CCCC77;
}

.rating_positive
{
  color: #00CC00;
}
.rating_positive_postlist
{
  color: #00CC00;
}
.confluent
{
  color: #CFCFCF;
}

