body { font-size:80%; }

A:link {text-decoration:none;color:#aaaaaa}
A:visited{text-decoration:none;color:#666666}
A:active{text-decoration:none;color:#999999}
A:hover{COLOR:white;text-decoration:none}

.onbody{text-decoration:none;color:white;background-color:black}
.onbody A:link{text-decoration:underline;color:#aaaaaa}
.onbody A:visited{text-decoration:underline;color:#666666}
.onbody A:hover{text-decoration:underline;color:white}
.onbody A:active{text-decoration:underline;color:#999999}

BODY, P, TABLE, TD, TR {font-family:"Calibri"}
P, TABLE, TD, TR {font-size:1em;}
BODY{color:#ffffff;background-color:black}
FORM{DISPLAY:inline;MARGIN-BOTTOM:0}

.topmenu{BACKGROUND:#000000;COLOR:black;font-size:1em}
.menubar{BACKGROUND:#050505;font-size:1em}

.tablesurround{BACKGROUND:#191919;margin-top:-0.1em;margin-bottom:-0.1em}
.tableborders{BACKGROUND:#191919}

.tdheader{FONT-WEIGHT:bold;font-size:1em;BACKGROUND:#333333;font-family:"Calibri";color:#ffffff}
.tdheader a{font-size:1em;color:#dddddd;text-decoration:underline}
.tdheader a:hover{color:#BBBBBB;text-decoration:none}
.tdheader a:visited{color:#999999;text-decoration:underline}
.tdheader a:active{color:#000000;text-decoration:underline}

.navigation{font-size:1em;BACKGROUND:#000000;font-family:"Calibri"}

.post{BACKGROUND:#151515;font-family:"Calibri";font-size:1em;color:#dddddd}
.new{font-size:1em;COLOR:#666666}
.catandforum{font-size:1em;color:#eeeeee;BACKGROUND:black}
.posttime{font-size:1em;BACKGROUND:#000000;TEXT-ALIGN:center}
.threadtotal{font-size:1em;BACKGROUND:#000000}
.posttotal{font-size:1em;BACKGROUND:black}
.modcolumn{font-size:1em;BACKGROUND:black}
.small{font-size:1em;font-family:"Calibri";color:#666666;line-height:normal}
.standouttext{font-weight:bold}
.pollcolor{BACKGROUND:#999999}

.welcome{font-family:"Calibri"}
.forumtitle{font-size:1em}
.forumdescript{font-size:1em;background-color:black}

.lighttable{BACKGROUND:#141414;color:#cccccc}
.darktable{BACKGROUND:black}
.cleartable{BACKGROUND:black}
.alternatetable{BACKGROUND:black}
.subjecttable{BACKGROUND:black}
.footertable{BACKGROUND:#666666}

.formboxes{font-size:1em;font-family:"Segoe Print";color:#eeeeee;BACKGROUND-COLOR:black}
.buttons{font-size:1em;font-family:"Calibri";BACKGROUND-COLOR:#555555}

PRE{background-color:#303030;font-size:1em;font-family:"Consolas";BORDER:#999999 1px solid;PADDING: 0.2em 0.3em;MARGIN:0 0.5em 0 1em;color:white}

BLOCKQUOTE{background:#333333;font-size:1em;border:1px solid #999999;padding:0 0.3em;MARGIN:0.3em 0.5em 0 1em}
BLOCKQUOTE .small{PADDING: 0.1em 0.2em;color:#000000;BACKGROUND:#999999;MARGIN-Left: -0.3em;font-weight:bold}
BLOCKQUOTE HR {VISIBILITY:hidden;HEIGHT:1px}
BLOCKQUOTE BR {FONT-SIZE:1px}
.selectedrow {font-size:1em;BACKGROUND:#333333;font-family:"Calibri";color:#ffffff}
.confluent{COLOR:#141414;}