<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Id='*' Name='FLocal IISUploadHandler' Language='1033' 
		Version='1.255.{build}.0' Manufacturer='inga-lovinde' UpgradeCode='1311A47C-18A2-47CB-AB1C-85C7FF020D68' >
		<Package Description='FLocal IISUploadHandler' Comments='FLocal IISUploadHandler' Manufacturer='inga-lovinde' InstallerVersion='300' Compressed='yes' Platform="x64" />
		<Upgrade Id="1311A47C-18A2-47CB-AB1C-85C7FF020D68">
			<UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" Maximum="1.255.{build}" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
		</Upgrade>
		<Upgrade Id="1311A47C-18A2-47CB-AB1C-85C7FF020D68">
			<UpgradeVersion Minimum="1.255.{build}" IncludeMinimum="no" Property="NEWERVERSIONDETECTED" />
		</Upgrade>
		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallInitialize"/>
		</InstallExecuteSequence>
		<Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="MANUFACTURERROOTDIRECTORY" Name="FLocal">
					<Directory Id="APPLICATIONROOTDIRECTORY" Name="upload">
						<Directory Id="APPLICATIONDIRECTORY" Name="{target}">
							<Directory Id="BINARIESROOTDIRECTORY" Name="Bin"/>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		<DirectoryRef Id="BINARIESROOTDIRECTORY">
			<Component Id="Web.Core.dll" Guid="4770412D-CAFE-469B-AD39-993832D43380">
				<File Id="Web.Core.dll" Source="..\..\Web.Core\bin\Release\Web.Core.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Web.Core.pdb" Guid="D48AA0FF-F559-475B-BF27-C2BD537F7DD4">
				<File Id="Web.Core.pdb" Source="..\..\Web.Core\bin\Release\Web.Core.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Web.IISUploadHandler.dll" Guid="285FB9C5-A16F-4C4A-885C-8743AF66A43E">
				<File Id="Web.IISUploadHandler.dll" Source="..\..\Web.IISUploadHandler\bin\Release\Web.IISUploadHandler.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Web.IISUploadHandler.pdb" Guid="DD8F0AA8-0F14-4D97-83E8-4F623921B602">
				<File Id="IISUploadHandler.pdb" Source="..\..\Web.IISUploadHandler\bin\Release\Web.IISUploadHandler.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
		</DirectoryRef>

		<Feature Id='IISUploadHandler' Title='IISUploadHandler' Level='1'>
			<ComponentRef Id='Web.IISUploadHandler.dll' />
			<ComponentRef Id='Web.IISUploadHandler.pdb' />
		</Feature>
		<Feature Id='Core' Title='Core library' Level='1'>
			<ComponentRef Id='Web.Core.dll' />
			<ComponentRef Id='Web.Core.pdb' />
		</Feature>

	</Product>
</Wix>
