body { font-size:11pt; }

.zerosize { width:0px;height:0px;max-width:0px;max-height:0px; }

pre 
{ 
  overflow-x: auto;
  overflow-y: hidden;
  margin: 10px;
  width: 99%;
  font-family:Consolas, monospace;
}

[type=button].iconize, [type=submit].iconize {
	padding-left:16px;
	background-position:center left;
	background-repeat:no-repeat;
	font-size:10px;
}

[pseudolink], .pseudolink {
	cursor:hand;
}
[spoiler] [inner] {
	display:none;
}
[spoiler] [opener] {
	cursor:hand;
}
.warning {
	background-color:red;
}
.userbar_name {
	font-size:1.7em;
}
.userbar_title {
	font-weight:bold;
}
.avatar, .userbar_avatar {
	border:none;
	max-height:6em;
	height:expression((this.scrollHeight >= 90) ? '90px' : 'auto');
	max-width:6em;
	width:expression((this.scrollHeight >= 90) ? '90px' : 'auto');
}
.userbarcontainer {
	border:none;
	max-width:6em;
	width:expression((this.scrollHeight >= 90) ? '90px' : 'auto');
	overflow:hidden;
	margin:5pt;
}
.userbar_additionalcontainer {
	width:0px;
	max-width:0px;
	height:0px;
	max-height:0px;
	overflow:visible;
}
.userbar_additional {
	position:absolute;
	white-space:nowrap;
	padding:5pt;
	font-size:1.2em;
}
.UG_Blondes {
	color:red !important;
	background-color:yellow !important;
	font-weight: bold !important;
}
.UG_Moderators {
	color:blue !important;
}
.UG_Administrators {
	color:black !important;
}
p {
	margin:0em;
}
.punishment {
	color:red !important;
}
.punishment.withdrawed {
	color:red !important;
	text-decoration: line-through;
}
.currentLink {
	font-weight:bolder;font-style:italic;
}
input {
	z-index:90000;
}
[nobr] {
	white-space: nowrap;
}
.postcontainer {
	border-style:none none solid none;
	border-width:0 0 1px 0;
	padding-bottom:5pt;
	padding-top:5pt;
}
blockquote {
	display:block;
	border:solid 2px;
}
blockquote hr {
	display:block;
	visibility:hidden;
	width:0px;
	height:0px;
	padding:0px;
	margin:0px;
}
BLOCKQUOTE BR {FONT-SIZE:1px}
.header {
	font-size:1.5em;
}
.header a.selected {
	font-size:1.13em;
}
.header .header {
	font-size:0.8em;
}
ul.categoriescontainer {
	padding:0px;
}
li.categorycontainer {
	display:inline-block;
	vertical-align:top;
	margin:5pt;
}
.categorycontainer_title {
	display:inline;
	font-size:1.2em;
	margin:0px;
	margin-left:1em;
	padding:0.3em;
}
ul.boardscontainer {
	padding:0px;
}
li.boardcontainer {
	display:inline-block;
	width:13em;
	vertical-align:top;
	font-size:1.25em;
	margin:5pt;
}
.boardcontainer_name {
	font-size:1.2em;
	margin:0px;
}
.board_additionalcontainer {
	height:0px;
	max-height:0px;
	overflow:visible;
	position:relative;
}
.board_additional {
	position:absolute;
	padding:5pt;
	font-size:0.8em;
	width:16.25em;
}
