@import "fonts.css";

a { text-decoration:none;color:#aaaaaa}
A:link, a[pseudolink], a.pseudolink {text-decoration:none;color:#aaaaaa}
A:visited{text-decoration:none;color:#666666}
A:active{text-decoration:none;color:#999999}
A:hover{COLOR:white;text-decoration:none;background-color:#404040; }
a.current { border:solid 1px white;color:white; }
a.current:hover { color:white;background-color:transparent; }
A:hover * { background-color:inherit; }

a[pseudolink], a.pseudolink {
	border-bottom:dashed 1px #aaaaaa;
	margin-bottom:1px;
}

BODY{color:#ffffff;background-color:black}

.pollcolor{background-color:#aaaaaa}

.formboxes{color:#eeeeee;BACKGROUND-COLOR:black;}

PRE{background-color:#303030;border-color:#999999;color:white}

.confluent{COLOR:black;}

.postcontainer, .pmcontainer, .uploadcontainer {
	border-color:#808080;
}
.pmcontainer.unread {
	background-color:#200000;
}
blockquote {
	border:solid 1px #606060;
	background-color:#303030;
}
.userbar_additional {
	background-color:#181830;
}
.categorycontainer_title {
	background-color:#101010;
}
.boardscontainer {
	background-color:#101010;
}
.boardcontainer, .threadcontainer, .conversationcontainer {
	background-color:#202020;
}
.boardcontainer:hover, .threadcontainer:hover, .conversationcontainer:hover {
	background-color:#303030;
}
.boardcontainer.updated, .threadcontainer.updated, .conversationcontainer.updated {
	background-color:#502800;
}
.boardcontainer.updated:hover, .threadcontainer.updated:hover, .conversationcontainer.updated:hover {
	background-color:#684000;
}
.board_additional, .threadcontainer_additional, .conversationcontainer_additional {
	background-color:#1C281C;
}

.header, .header a {
	color:#BFBFBF;
}
.header a.selected {
	color:white;
}
.header a:hover {
	color:white;
	background-color:transparent;
}
.header a.disabled, .header a.disabled:hover {
	color:#404040;
	background-color:transparent;
}
.UG_Moderators {
	color:#1f1fff !important;
}
.UG_Administrators {
	color:black !important;
	background-color:white !important;
}
