@import "fonts.css";

a { text-decoration:none;color:#aaaaaa}
A:link, a[pseudolink], a.pseudolink {text-decoration:none;color:#aaaaaa}
A:visited{text-decoration:none;color:#666666}
A:active{text-decoration:none;color:#999999}
A:hover{COLOR:white;text-decoration:none}

BODY{color:#ffffff;background-color:black}
FORM{DISPLAY:inline;MARGIN-BOTTOM:0}

.formboxes{font-size:1em;color:#eeeeee;BACKGROUND-COLOR:black;}

PRE{background-color:#303030;font-size:0.9em;BORDER:#999999 1px solid;PADDING: 0.2em 0.3em;MARGIN:0 0.5em 0 1em;color:white}

.confluent{COLOR:black;}

.postcontainer {
	border-color:#808080;
}
blockquote {
	border:solid 1px #606060;
	background-color:#303030;
}
.userbar_additional {
	background-color:#181830;
}
.categorycontainer_title {
	background-color:#101010;
}
.boardscontainer {
	background-color:#101010;
}
.boardcontainer, .threadcontainer, .conversationcontainer {
	background-color:#202020;
}
.boardcontainer:hover, .threadcontainer:hover, .conversationcontainer:hover {
	background-color:#303030;
}
.boardcontainer.updated, .threadcontainer.updated, .conversationcontainer.updated {
	background-color:#502800;
}
.boardcontainer.updated:hover, .threadcontainer.updated:hover, .conversationcontainer.updated:hover {
	background-color:#684000;
}
.board_additional, .threadcontainer_additional, .conversationcontainer_additional {
	background-color:#1C281C;
}

.tablesurround{BACKGROUND:#191919;margin-top:-0.1em;margin-bottom:-0.1em}
.tableborders{BACKGROUND:#191919}
.tdheader{FONT-WEIGHT:bold;font-size:1em;BACKGROUND:#333333;color:#ffffff}
.tdheader a{font-size:1em;color:#dddddd;text-decoration:underline}
.tdheader a:hover{color:#BBBBBB;text-decoration:none}
.tdheader a:visited{color:#999999;text-decoration:underline}
.tdheader a:active{color:#000000;text-decoration:underline}
.lighttable{BACKGROUND:#141414;color:#cccccc}
.darktable{BACKGROUND:black}
.cleartable{BACKGROUND:black}
.alternatetable{BACKGROUND:black}
.subjecttable{BACKGROUND:black}
.footertable{BACKGROUND:#666666}

.header, .header a {
	color:#BFBFBF;
}
.header a.selected {
	color:white;
}
.header a:hover {
	color:white;
}
.header a.disabled, .header a.disabled:hover {
	color:#404040;
}
.UG_Moderators {
	color:#1f1fff !important;
}
.UG_Administrators {
	color:black !important;
	background-color:white !important;
}
