<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Id='*' Name='FLocal IISMainHandler {target}' Language='1033' 
		Version='{shortversion}.0' Manufacturer='inga-lovinde' UpgradeCode='3981e346-b07f-45aa-bb8e-263a01dee3f{targetId}' >
		<Package Description='FLocal IISMainHandler {target}' Comments='FLocal IISMainHandler {target}' Manufacturer='inga-lovinde' InstallerVersion='300' Compressed='yes' Platform="x64" />
		<Upgrade Id="3981e346-b07f-45aa-bb8e-263a01dee3f{targetId}">
			<UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" Maximum="{shortversion}" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
		</Upgrade>
		<Upgrade Id="3981e346-b07f-45aa-bb8e-263a01dee3f{targetId}">
			<UpgradeVersion Minimum="{shortversion}" IncludeMinimum="no" Property="NEWERVERSIONDETECTED" />
		</Upgrade>
		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallInitialize"/>
		</InstallExecuteSequence>
		<Media Id='1' Cabinet='product.cab' EmbedCab='yes' />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="MANUFACTURERROOTDIRECTORY" Name="FLocal">
					<Directory Id="APPLICATIONROOTDIRECTORY" Name="main">
						<Directory Id="APPLICATIONDIRECTORY" Name="{target}">
							<Directory Id="ARCHIVEDIRECTORY" Name="archive"/>
							<Directory Id="BINARIESROOTDIRECTORY" Name="Bin"/>
							<Directory Id="DATAROOTDIRECTORY" Name="data"/>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		<DirectoryRef Id="BINARIESROOTDIRECTORY">
			<Component Id="Web.Core.dll" Guid="B8542489-E367-4AC6-9FCF-EA3454F0D64{targetId}">
				<File Id="Web.Core.dll" Source="..\..\Web.Core\bin\Release\Web.Core.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Web.Core.pdb" Guid="3109981C-0182-48CA-B1CA-8F68F1C0F4B{targetId}">
				<File Id="Web.Core.pdb" Source="..\..\Web.Core\bin\Release\Web.Core.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Common.dll" Guid="4CD35090-702C-479D-826B-2DE966FB0D4{targetId}">
				<File Id="FLocal.Common.dll" Source="..\..\FLocal.Common\bin\Release\FLocal.Common.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Common.pdb" Guid="78F773B8-0B28-4657-8E13-739FDB16F3C{targetId}">
				<File Id="FLocal.Common.pdb" Source="..\..\FLocal.Common\bin\Release\FLocal.Common.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="MySQLConnector.dll" Guid="924EC439-F1F0-431F-A6EA-152C321F614{targetId}">
				<File Id="MySQLConnector.dll" Source="..\..\MySQLConnector\bin\Release\MySQLConnector.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="MySQLConnector.pdb" Guid="32AA82C5-1561-4612-A113-C7A099C3ECE{targetId}">
				<File Id="MySQLConnector.pdb" Source="..\..\MySQLConnector\bin\Release\MySQLConnector.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.IISHandler.dll" Guid="E3BCF3A1-75C0-4CD7-95D4-4A0245B1CA1{targetId}">
				<File Id="FLocal.IISHandler.dll" Source="..\..\FLocal.IISHandler\bin\Release\FLocal.IISHandler.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.IISHandler.pdb" Guid="4F5F1280-8EC8-4C56-80F4-8C810F0C839{targetId}">
				<File Id="FLocal.IISHandler.pdb" Source="..\..\FLocal.IISHandler\bin\Release\FLocal.IISHandler.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Migration.Gateway.dll" Guid="F25304A3-2705-4E97-B0E9-1DF04C277AD{targetId}">
				<File Id="FLocal.Migration.Gateway.dll" Source="..\..\FLocal.Migration.Gateway\bin\Release\FLocal.Migration.Gateway.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Migration.Gateway.pdb" Guid="6AE31E67-EFC6-471B-BB55-0DF628399D3{targetId}">
				<File Id="FLocal.Migration.Gateway.pdb" Source="..\..\FLocal.Migration.Gateway\bin\Release\FLocal.Migration.Gateway.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Migration.Console.exe" Guid="45962809-9BE4-4792-9759-21C49FCA57F{targetId}">
				<File Id="FLocal.Migration.Console.exe" Source="..\..\FLocal.Migration.Console\bin\Release\FLocal.Migration.Console.exe" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Migration.Console.pdb" Guid="6E5DCF23-7247-4DE0-BB6D-1A846372343{targetId}">
				<File Id="FLocal.Migration.Console.pdb" Source="..\..\FLocal.Migration.Console\bin\Release\FLocal.Migration.Console.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="NConsoler.dll" Guid="F39FD087-8961-4871-9D59-FDB83002BC9{targetId}">
				<File Id="NConsoler.dll" Source="..\..\ThirdParty\NConsoler\NConsoler.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Mono.Security.dll" Guid="FCE3247F-DF6C-4F48-B6B9-F72C20D4E51{targetId}">
				<File Id="Mono.Security.dll" Source="..\..\ThirdParty\Mono.Security\Mono.Security.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Npgsql.dll" Guid="BE0FFB89-9304-41DE-B365-7213AD44114{targetId}">
				<File Id="Npgsql.dll" Source="..\..\ThirdParty\Npgsql\Npgsql.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Npgsql.pdb" Guid="1AFEC953-FAE1-4B51-A24B-BFF09C4CFBC{targetId}">
				<File Id="Npgsql.pdb" Source="..\..\ThirdParty\Npgsql\Npgsql.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="PJonDevelopment.BBCode.dll" Guid="5271E184-FCCB-433C-B789-959B410D6DD{targetId}">
				<File Id="PJonDevelopment.BBCode.dll" Source="..\..\ThirdParty\PJonDevelopment.BBCode\bin\Release\PJonDevelopment.BBCode.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="PJonDevelopment.BBCode.pdb" Guid="EFFBA1FA-A3A8-4D20-8894-AFD255B9F00{targetId}">
				<File Id="PJonDevelopment.BBCode.pdb" Source="..\..\ThirdParty\PJonDevelopment.BBCode\bin\Release\PJonDevelopment.BBCode.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="TexCompiler.dll" Guid="6FD050AF-61D7-4BFF-B206-A4420A83FB5{targetId}">
				<File Id="TexCompiler.dll" Source="..\..\TexCompiler\bin\Release\TexCompiler.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="TexCompiler.pdb" Guid="707304A1-9774-446F-B672-FA25EAD8E4F{targetId}">
				<File Id="TexCompiler.pdb" Source="..\..\TexCompiler\bin\Release\TexCompiler.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Patcher.IISHandler.dll" Guid="FD81CC31-D95B-437C-83A9-AE4C05B1A5D{targetId}">
				<File Id="FLocal.Patcher.IISHandler.dll" Source="..\..\FLocal.Patcher.IISHandler\bin\Release\FLocal.Patcher.IISHandler.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Patcher.IISHandler.pdb" Guid="DE40CE70-21D8-4C5B-95F6-C861FC185EB{targetId}">
				<File Id="FLocal.Patcher.IISHandler.pdb" Source="..\..\FLocal.Patcher.IISHandler\bin\Release\FLocal.Patcher.IISHandler.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Patcher.Common.dll" Guid="9ADCE502-78D1-44F9-9267-0FD1E02E7AE{targetId}">
				<File Id="FLocal.Patcher.Common.dll" Source="..\..\FLocal.Patcher.Common\bin\Release\FLocal.Patcher.Common.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="FLocal.Patcher.Common.pdb" Guid="2A5EA0F4-D43C-4277-A2B2-F4EFA778943{targetId}">
				<File Id="FLocal.Patcher.Common.pdb" Source="..\..\FLocal.Patcher.Common\bin\Release\FLocal.Patcher.Common.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Patcher.dll" Guid="B8F10219-2D29-49EC-8FE0-0834586C6B4{targetId}">
				<File Id="Patcher.dll" Source="..\..\Patcher\bin\Release\Patcher.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Patcher.pdb" Guid="A8EFE5CE-51B5-432E-974F-7056CEF4D40{targetId}">
				<File Id="Patcher.pdb" Source="..\..\Patcher\bin\Release\Patcher.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Patcher.Web.dll" Guid="F5FEC45F-A24D-4C8F-85A2-B6AC8F3BCDE{targetId}">
				<File Id="Patcher.Web.dll" Source="..\..\Patcher.Web\bin\Release\Patcher.Web.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Patcher.Web.pdb" Guid="038ADB30-4F4A-419E-A8E3-949D3F04D39{targetId}">
				<File Id="Patcher.Web.pdb" Source="..\..\Patcher.Web\bin\Release\Patcher.Web.pdb" KeyPath="yes" Checksum="yes"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="ARCHIVEDIRECTORY">
			<Component Id="Resources.FLocal.Templates.7z" Guid="B41F4142-A39C-43BE-8D20-F31BFFA9B48{targetId}">
				<File Id="Resources.FLocal.Templates.7z" Source="Resources.FLocal.Templates.7z" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Resources.FLocal.Static.7z" Guid="C5D6456D-39B0-40E1-8DB1-0950199B15D{targetId}">
				<File Id="Resources.FLocal.Static.7z" Source="Resources.FLocal.Static.7z" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="_7z.exe" Guid="57AD7901-2C9B-4349-ABD8-C8FBA82F272{targetId}">
				<File Id="_7z.exe" Name="7z.exe" Source="7z.exe" KeyPath="yes" Checksum="yes"/>
			</Component>
		</DirectoryRef>
		<Feature Id='Web' Title='Web' Level='1'>
			<Feature Id='Web.Core' Title='Core library' Level='1'>
				<ComponentRef Id='Web.Core.dll' />
				<ComponentRef Id='Web.Core.pdb' />
			</Feature>
		</Feature>
		<Feature Id='Patcher' Title='Patcher' Level='1'>
			<Feature Id='Patcher.Patcher' Title='patcher core libraries' Level='1'>
				<ComponentRef Id='Patcher.dll' />
				<ComponentRef Id='Patcher.pdb' />
			</Feature>
			<Feature Id='Patcher.Web' Title='patcher web interop' Level='1'>
				<ComponentRef Id='Patcher.Web.dll' />
				<ComponentRef Id='Patcher.Web.pdb' />
			</Feature>
		</Feature>
		<Feature Id='MySQLConnector' Title='Adapter to DbConnection' Level='1'>
			<ComponentRef Id='MySQLConnector.dll' />
			<ComponentRef Id='MySQLConnector.pdb' />
		</Feature>
		<Feature Id='TexCompiler' Title='Compiler of TeX code' Level='1'>
			<ComponentRef Id='TexCompiler.dll' />
			<ComponentRef Id='TexCompiler.pdb' />
		</Feature>
		<Feature Id='FLocal' Title='FLocal' Level='1'>
			<Feature Id='FLocal.Migration' Title='Import utilities' Level='1'>
				<Feature Id='FLocal.Migration.Gateway' Title='Importer library' Level='1'>
					<ComponentRef Id='FLocal.Migration.Gateway.dll' />
					<ComponentRef Id='FLocal.Migration.Gateway.pdb' />
				</Feature>
				<Feature Id='FLocal.Migration.Console' Title='Import console' Level='1'>
					<ComponentRef Id='FLocal.Migration.Console.exe' />
					<ComponentRef Id='FLocal.Migration.Console.pdb' />
				</Feature>
			</Feature>
			<Feature Id='FLocal.Common' Title='Common FLocal libraries' Level='1'>
				<ComponentRef Id='FLocal.Common.dll' />
				<ComponentRef Id='FLocal.Common.pdb' />
			</Feature>
			<Feature Id='FLocal.Patcher' Title='FLocal patcher' Level='1'>
				<Feature Id='FLocal.Patcher.Common' Title='flocal patches/settings' Level='1'>
					<ComponentRef Id='FLocal.Patcher.Common.dll' />
					<ComponentRef Id='FLocal.Patcher.Common.pdb' />
				</Feature>
				<Feature Id='FLocal.Patcher.IISHandler' Title='flocal patcher handler' Level='1'>
					<ComponentRef Id='FLocal.Patcher.IISHandler.dll' />
					<ComponentRef Id='FLocal.Patcher.IISHandler.pdb' />
				</Feature>
			</Feature>
			<Feature Id='FLocal.IISHandler' Title='IISMainHandler' Level='1'>
				<ComponentRef Id='FLocal.IISHandler.dll' />
				<ComponentRef Id='FLocal.IISHandler.pdb' />
			</Feature>
		</Feature>
		<Feature Id='ThirdParty' Title='ThirdParty libraries/tools' Level='1'>
			<Feature Id='NConsoler' Title='NConsoler' Level='1'>
				<ComponentRef Id='NConsoler.dll' />
			</Feature>
			<Feature Id='BBCode' Title='BBCode parser by PJonDevelopment' Level='1'>
				<ComponentRef Id='PJonDevelopment.BBCode.dll' />
				<ComponentRef Id='PJonDevelopment.BBCode.pdb' />
			</Feature>
			<Feature Id='Mono.Security' Title='Mono.Security' Level='1'>
				<ComponentRef Id='Mono.Security.dll' />
			</Feature>
			<Feature Id='Npgsql' Title='PostgreSQL driver' Level='1'>
				<ComponentRef Id='Npgsql.dll' />
				<ComponentRef Id='Npgsql.pdb' />
			</Feature>
		</Feature>
		<Feature Id="Data" Title="Various data sets" Level="1">
			<ComponentRef Id="_7z.exe"/>
			<Feature Id="Resources.FLocal.Templates" Title="Templates" Level="1">
				<ComponentRef Id="Resources.FLocal.Templates.7z"/>
			</Feature>
			<Feature Id="Resources.FLocal.Static" Title="Static images css etc" Level="1">
				<ComponentRef Id="Resources.FLocal.Static.7z"/>
			</Feature>
		</Feature>

		<CustomAction Id="InstallTemplates" FileKey="_7z.exe" ExeCommand="x &quot;C:\Program Files\FLocal\main\{target}\archive\Resources.FLocal.Templates.7z&quot; -o&quot;C:\Program Files\FLocal\main\{target}\data\templates\&quot; -aoa -y" Execute="deferred" Impersonate="no" Return="check"/>
		<CustomAction Id="InstallStatic" FileKey="_7z.exe" ExeCommand="x &quot;C:\Program Files\FLocal\main\{target}\archive\Resources.FLocal.Static.7z&quot; -o&quot;C:\Program Files\FLocal\main\{target}\data\Static\&quot; -aoa -y" Execute="deferred" Impersonate="no" Return="check"/>
		<InstallExecuteSequence>
			<Custom Action="InstallTemplates" Before="InstallFinalize">
				<![CDATA[NOT REMOVE]]>
			</Custom>
			<Custom Action="InstallStatic" Before="InstallFinalize">
				<![CDATA[NOT REMOVE]]>
			</Custom>
		</InstallExecuteSequence>
	</Product>
</Wix>
